<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2W1snEZll5jiqIxUt3MLz0QkfOZUWMjI</string>
	<key>GCM_SENDER_ID</key>
	<string>637799926068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theroyalaccommodation</string>
	<key>PROJECT_ID</key>
	<string>the-royal-accommodation</string>
	<key>STORAGE_BUCKET</key>
	<string>the-royal-accommodation.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637799926068:ios:dd93d1abcdacebcff4bd61</string>
</dict>
</plist>